@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.pop .in {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-150%) scale(0);
  width: 300px;
  height: 450px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background: #262626;
  box-shadow:  38px 38px 56px #1e1e1e, 
              -25px -25px 38px #1e1e1e;
  z-index: 1;
 }
 
 .pop .end {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 40px;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  padding: 0px 0px 0px 0px;
  background: #292929;
  box-shadow:  5px 5px 15px #1e1e1e, 
              -5px -5px 15px #1e1e1e;
  }
 
 .pop.active .in {
 transition: all 300ms ease-in-out;
 transform: translate(-50%,-50%) scale(1);
 }
 
 .hlog{
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 10px;
 }
 

 .inner .vali{
 padding: 20px;
 font-size: 16px;
 border-radius: 10px;
 border: none;
 margin-bottom: 15px;
 color: #bfc0c0;
 background: #262626;
 box-shadow: inset 5px 5px 5px #232323, 
             inset -5px -5px 5px #292929;
 outline: none;
 }

 
 .secbut {
 color: white;
 font-size: 18px;
 font-weight: 500;
 margin-top: 20px;
 padding: 20px 30px;
 border-radius: 40px;
 border: none;
 background: #262626;
 box-shadow:  8px 8px 15px #202020, 
              -8px -8px 15px #2c2c2c;
 transition: box-shadow .35s ease !important;
 outline: none;
 }
 
 .second-button:active{
 background: linear-gradient(145deg,#222222, #292929);
 box-shadow: 5px 5px 10px #262626, -5px -5px 10px #262626;
 border: none;
 outline: none;
 }
 .plog{
 color: #bfc0c0;
 padding: 60px;
 margin-bottom: 90px;
 font-size:0.4em;
 }
 .alog {
  font-weight: 300;
  color: white;
 }

/* ends here*/

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text1 {
  position: relative;
  z-index: 10;


}

.text1 h1 {
  margin-left: -450px;
  margin-top: -20px;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;

}

.text1 h2 {
  margin-left: -450px;
  margin-top: 2px;
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;

}

.text1 p {
  margin-left: -450px;
  margin-top: 2px;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;

}



header .logo {
  position: relative;
  width: 90px;
  height: 90px;

  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  /* top: 0;
    left: 0;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 30px;
  width: 120px;*/
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(44, 39, 39);
  transition: 0.5s;
  z-index: 2;
}

.showcase.active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #252424c2;
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 2.5em;
  font-weight: 800;
  color: #fff;
  margin: 100px 0;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  position: relative;
  top: -100px;
  font-size: 2em;
  font-weight: 700;
  color: #fff;

  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  position: relative;
  top: -80px;
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.a1 {
  position: relative;
  top: -80px;
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover {
  letter-spacing: 6px;
  color: #fff;
}

.a2 {
  position: relative;
  top: -10px;
  left: 890px;
  display: inline-block;
  font-size: 1em;
  background: rgba(49, 48, 48, 0.39);
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;

  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  transition: 0.2s;
}

.a3 {
  position: relative;
  top: -10px;
  left: 900px;
  display: inline-block;
  font-size: 1em;
  background: rgba(49, 48, 48, 0.39);
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;

  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  transition: 0.2s;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  position: relative;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}

.menu ul li a:hover {
  color: #7a7c7e;
}



/*responsive*/

@media(max-width:500px) {






  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text1 {
    position: relative;



  }

  .text1 h1 {
    margin-left: 0px;
    margin-top: -60px;
    font-size: 0.75em;
    font-weight: 600;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;

  }

  .text1 h2 {
    margin-left: 0px;
    margin-top: 5px;
    font-size: 0.65em;
    font-weight: 400;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;

  }

  .text1 p {
    margin-left: 0px;
    margin-top: 5px;
    font-size: 0.65em;
    font-weight: 600;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;

  }

  header .logo {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: -80px;
    margin-left: -23px;

    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    /* top: 0;
    left: 0;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 30px;
  width: 120px;*/
  }

  .toggle {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 50px;
    margin-right: -20px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
  }

  .toggle.active {
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
  }

  .showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(44, 39, 39);
    transition: 0.5s;
    z-index: 2;
  }

  .showcase.active {
    right: 200px;
  }

  .showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #252424c2;
    mix-blend-mode: overlay;
  }

  .text {
    position: relative;
    z-index: 10;
  }

  .text h2 {
    font-size: 1em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
  }

  .text h3 {
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
  }

  .text p {
    font-size: 1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
  }

  .a1 {
    display: inline-block;
    font-size: 0.8em;
    background: #fff;
    padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
  }

  .a2 {
    position: relative;
    top: -50px;
    left: 150px;
    display: inline-block;
    font-size: 0.8em;
    background: rgba(49, 48, 48, 0.39);
    padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;

    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    transition: 0.2s;
  }

  .a3 {
    position: relative;
    top: -50px;
    left: 150px;
    display: inline-block;
    font-size: 0.8em;
    background: rgba(49, 48, 48, 0.39);
    padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;

    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    transition: 0.2s;
  }

  .text a:hover {
    letter-spacing: 6px;
  }

  .social {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social li {
    list-style: none;
  }

  .social li a {
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
  }

  .social li a:hover {
    transform: scale(0.5) translateY(-15px);
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 110px;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu ul {
    position: relative;
  }

  .menu ul li {
    list-style: none;
  }

  .menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
  }

  .menu ul li a:hover {
    color: #7a7c7e;
  }
}